{% extends 'base.html.twig' %}

{% block title %}Мои команды - Купаловские проекты{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="d-flex justify-content-between">
            <div>
                <h1>Команды</h1>
            </div>
            <div class="text-right">
                <a href="{{ path('app_account_team_create') }}" class="btn btn-primary">Создать новую команду</a>
            </div>
        </div>

        <h2 class="mt-4">Мои команды</h2>
        <div class="row">
            <!-- Own Team Cards -->
            {# @var createdTeam \App\Entity\Team #}
            {% for createdTeam in createdTeams %}
                <div class="col-md-4 mb-4">
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title">{{ createdTeam.name }}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="{{ path('app_account_team_invites', {id: createdTeam.id}) }}">Приглашения</a></li>
                                <li class="list-group-item"><a href="{{ path('app_account_team_participants', {id: createdTeam.id}) }}">Участники</a></li>
                                <li class="list-group-item"><a href="{{ path('app_account_team_archive', {id: createdTeam.id}) }}" class="text-danger">Архивировать</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- Add more own team cards here if needed -->
        </div>

        {% if not participatedTeams.empty %}
            <h2 class="mt-5">Команды, в которых Вы состоите</h2>
            <div class="row">
                <!-- Participated Team Cards -->
                {# @var participatedTeam \App\Entity\Team #}
                {% for participatedTeam in participatedTeams %}
                    <div class="col-md-4 mb-4">
                        <div class="card border-info">
                            <div class="card-header bg-info text-white">
                                <h5 class="card-title">{{ participatedTeam.name }}</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="#" class="text-danger">Покинуть</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Add more participated team cards here if needed -->
            </div>
        {% endif %}

    </div>
{% endblock %}