<div class="container my-5" {{ stimulus_controller('festival_create', {
    'generateNameUrl': path('app_api_festival_name_generate')
}) }}>
    <div class="d-flex justify-content-center">
        <h1>{{ title }}</h1>
    </div>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {
            'attr': {
                'data-festival-create-target': 'name'
            }
        }) }}
        {{ form_help(form.name) }}
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input" name="generate_name" id="generate_name_checkbox" {{ stimulus_action('festival_create', 'generateCheck') }}>
        <label for="generate_name_checkbox" class="form-check-label">Заполнить название по диапазону дат</label>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-between mb-3">
        <div class="flex-grow-1">
            {{ form_label(form.startsAt) }}
            {{ form_errors(form.startsAt) }}
            {{ form_widget(form.startsAt, {
                'attr': {
                    'data-festival-create-target': 'startDate'
                }
            }) }}
            {{ form_help(form.startsAt) }}
        </div>
        <div class="ms-sm-3 flex-grow-1">
            {{ form_label(form.endsAt) }}
            {{ form_errors(form.endsAt) }}
            {{ form_widget(form.endsAt, {
                'attr': {
                    'data-festival-create-target': 'endDate'
                }
            }) }}
            {{ form_help(form.endsAt) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_row(form.organizationCommittee) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.jury) }}
    </div>
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-primary" value="{{ 'festival.form.submit'|trans }}">
    {{ form_end(form) }}
</div>