<div {{ attributes }}>
    <div id="mail-form">
        <h2>Новое информационное письмо</h2>
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.subject) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.recipients) }}
        </div>
        <button type="submit" data-action="live#action:prevent" data-live-action-param="submit" class="btn btn-primary">Отправить</button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>