<div {{ attributes }}>
    <turbo-frame id="registration-frame">
        <div id="registration-form">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_row(form.lastName) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.firstName) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.middleName) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.educationEstablishment) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.email) }}
            </div>
            <div class="mb-3">
                {{ form_errors(form) }}
            </div>
            <button class="btn btn-primary">Регистрация</button>
            {{ form_end(form) }}
        </div>
    </turbo-frame>
</div>

