<div {{ attributes }}>
    <section class="container mb-3">
        <div class="d-flex justify-content-center">
            <header class="mb-3">
                <h2>Регистрация команды</h2>
            </header>
        </div>

        {{ form_start(form) }}

        <div class="d-flex flex-column">
            <div class="mb-2">
                {{ form_row(form.project) }}
            </div>
            <div class="mb-2">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>

            <div>
                <div class="d-flex justify-content-center my-3">
                    <h4>Информация о создателе команды</h4>
                </div>
                <div class="d-flex justify-content-between flex-column">
                    <div class="d-flex justify-content-between flex-row flex-wrap mb-3">
                        <div class="d-flex flex-column flex-grow-1 me-2">
                            {{ form_row(form.teamCreator.lastName) }}
                        </div>
                        <div class="d-flex flex-column flex-grow-1 me-2">
                            {{ form_row(form.teamCreator.firstName) }}
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            {{ form_row(form.teamCreator.middleName) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.teamCreator.educationEstablishment) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.teamCreator.email) }}
                    </div>
                </div>
            </div>

            <div>
                <div class="mb-3">
                    <label for="participants" class="form-label">Участники</label>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Учреждение образования</th>
                            <th>Электронная почта</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control" name="participants[][name]" required></td>
                            <td><input type="text" class="form-control" name="participants[][institution]" required>
                            </td>
                            <td><input type="email" class="form-control" name="participants[][email]" required></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <button type="button" class="btn btn-primary" id="add-participant">Добавить
                                    участника
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </section>
</div>