<div {{ attributes }}>
    <div class="d-flex mb-4">
        <div class="flex-fill">
            {{ form_start(form, {
                attr: {
                    'data-action': 'live#action:prevent',
                    'data-live-action-param': 'save',
                }
            }) }}
            {{ form_errors(form) }}
            {{ form_row(form.emails) }}
            <button type="submit" class="btn btn-primary">Пригласить</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>