{% extends 'base.html.twig' %}

{% block title %}Вход - Купаловские проекты{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header bg-primary text-white d-flex justify-content-between">
                    <h4 class="mb-0">Вход</h4>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path('app_auth_login') }}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-Mail</label>
                            <input type="email" class="form-control" id="email" name="_username" value="{{ last_username }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" name="_password" required>
                        </div>
                        <div>
                            <input type="hidden" name="_target_path" value="{{ path('app_index') }}">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Войти</button>
                            <div class="d-flex flex-column align-items-center mt-2">
                                <span>Нет аккаунта? <a href="{{ path('app_signup') }}">Зарегистрироваться</a></span>
                                <span>Или может <a href="{{ path('app_forgot_password_request') }}" class="text-danger">забыли пароль?</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
