{% extends 'base.html.twig' %}

{% block title %}Заявка проекта{% endblock %}

{% block body %}
    <div class="container mt-3">
        {{ form_start(form) }}
        <div class="mb-3">
            <div class="d-flex justify-content-center">
                <h3>{{ form_label(form.author.userEntity) }}</h3>
            </div>
            {{ form_widget(form.author.userEntity) }}
            {{ form_rest(form.author) }}
        </div>

        <div class="d-flex justify-content-center mt-4">
            <h3>Информация о проекте</h3>
        </div>
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary mb-5">Отправить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
