{% extends 'base.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="d-flex flex-column">
            {{ form_start(search, {'attr': {'class': 'mb-3'}}) }}
            {{ form_row(search.query) }}
            {{ form_row(search.festival) }}
            <button type="submit" class="btn btn-primary">Поиск</button>
            <a href="{{ path('app_projects') }}" class="btn btn-danger">Очистить фильтр</a>
            {{ form_end(search) }}
            <div id="projects" class="mb-3">
                {% if not is_granted('HAS_PARTICIPANT_DATA') %}
                    <div class="text-danger mb-3">
                        <span>Для регистрации на проекты необходимо создать аккаунт и заполнить карточку участника. После этого кнопки станут активными.</span>
                    </div>
                {% endif %}
                {% if projects.count > 0 %}
                    {# @var project \App\Entity\Project #}
                    {% for project in projects %}
                        <div class="list-group mb-3">
                            <a href="{{ path('app_project_details', { 'id': project.id }) }}"
                               class="list-group-item list-group-item-action mb-2">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5 class="mb-1">{{ project.name }}</h5>
                                </div>
                                <p class="mb-0">Цель: {{ project.goal }}</p>
                                <p class="mb-0">Даты проведения: {{ project.startsAt|date('d.m.Y') }}
                                    - {{ project.endsAt|date('d.m.Y') }}</p>
                                <p class="mb-0">Участники: {{ project|orientedOn }}</p>
                                <p class="mb-0">Предметные области: {{ project|subjects }}</p>
                            </a>
                            {% if is_granted('HAS_PARTICIPANT_DATA') %}
                                <div class="d-flex flex-row">
                                    <div class="me-2">
                                        <form method="get"
                                              action="{{ path('app_project_participant_submit', {'id': project.id }) }}">
                                            <button class="btn btn-primary">Зарегистрироваться на проект</button>
                                        </form>
                                    </div>
                                    {% if project.teamsAllowed %}
                                        <div>
                                            <form
                                                    action="{{ path('app_project_registration_team', {'id': project.id}) }}">
                                                <button class="btn btn-secondary">Регистрация команды</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="d-flex flex-row">
                                    <div class="me-2">
                                        <form>
                                            <button class="btn btn-primary" disabled>Зарегистрироваться на проект</button>
                                        </form>
                                    </div>
                                    {% if project.teamsAllowed %}
                                        <div>
                                            <form>
                                                <button class="btn btn-secondary" disabled>Регистрация команды</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    Результатов не обнаружено...
                {% endif %}
            </div>
        </div>
        {{ pagerfanta(projects, 'twitter_bootstrap5', {'omitFirstPage': true}) }}
    </div>
{% endblock %}
