{% extends 'base.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block body %}
    <div class="container my-4" {{ stimulus_controller('projects') }}>
        <div class="d-flex flex-column">
            {{ form_start(search, {'attr': {'class': 'mb-3'}}) }}
            {{ form_row(search.query) }}
            {{ form_row(search.festival) }}
            <button type="submit" class="btn btn-primary">Поиск</button>
            <a href="{{ path('app_projects') }}" class="btn btn-danger">Очистить фильтр</a>
            {{ form_end(search) }}
            <div id="projects" class="mb-3">
                {% if not is_granted('HAS_PARTICIPANT_DATA') %}
                    <div class="text-danger mb-3">
                        <span>Для регистрации на проекты необходимо создать аккаунт и заполнить карточку участника. После этого кнопки станут активными.</span>
                    </div>
                {% endif %}
                {% if projects.count > 0 %}
                    {# @var project \App\Entity\Project #}
                    {% for project in projects %}
                        {{ component('ProjectSearchCard', {
                            'project': project,
                        }) }}
                    {% endfor %}
                {% else %}
                    Активных проектов не обнаружено...
                {% endif %}
            </div>
        </div>
        {{ pagerfanta(projects, 'twitter_bootstrap5', {'omitFirstPage': true}) }}
    </div>
    <script>

    </script>
{% endblock %}
